

.projecttittle{
    font-weight: bold;
    font-size: calc(15px + 1vw);
    margin-bottom: calc(5px + 2vw);
    background: linear-gradient(to bottom,rgb(223, 4, 4) 20%,rgb(85, 18, 18));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: default;
    text-shadow: 1px 2px 2px rgb(255, 1, 1);
    text-align: center;
}
.projectcarddiv{
    display: flex;
    margin: calc(10px + 2vw) 0 calc(10px + 2vw) 0;
    flex-wrap: wrap;
    justify-content: center;
    gap: calc(10px + 1vw);
}

.projectcard{
    padding: calc(10px + 1vw);
    border-radius: calc(3px + 1vw);
    height: calc( 160px + 13vw);
    width: calc( 155px + 5.5vw);
    box-shadow: inset 0 0 calc(10px + 0.5vw) rgb(251, 161, 239);
    
}

.projectcard:hover{
    transform: scale(1.03);
    cursor: pointer;
    transition: all 300ms;
}

.projectName{
    background: linear-gradient(to bottom,rgb(223, 4, 4) 20%,rgb(85, 18, 18));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: default;
    text-align: center;
    font-weight: bold;
    font-size: calc(12px + 0.6vw);
}

.projectimage{
    display: flex;
    justify-content: center;
    border-radius: calc(3px + 0.5vw);
    margin: calc(5px + 1vw) 0 calc(5px + 1vw) 0;
}

.projectimage>img{
    width: calc(160px + 5vw);
    height: calc(80px + 5vw);
    border-radius: calc(3px + 0.5vw);
}

.buttonLink{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: calc(2px + 0.5vw);
    background: transparent;

}
.buttonLink>button{
    font-size: calc(8px + 0.2vw);
    font-weight: bold;
    padding: calc(5px + 0.5vw) calc(10px + 0.5vw) calc(5px + 0.5vw) calc(10px + 0.5vw);
    border-radius: calc(3px + 0.5vw);
    width: max-content;
    border: none;
    box-shadow: inset 0 0 calc(10px + 0.5vw) rgb(251, 161, 239);
    background: transparent;
}
.buttonLink>button:nth-child(2){
    box-shadow: inset 0 0 calc(10px + 0.5vw) rgb(234, 10, 174);
}
.buttonLink>button:hover{

    transform: scale(1.1);
    cursor: pointer;
    transition: all 300ms ;

}

.projectbody{
    position: absolute;
    background: transparent;
}

.projectblur{
    background: rgb(250, 209, 250);
    width: calc(145px + 6.5vw);
    height: calc(170px + 12vw);
}


@media screen and (width<=800px) {
    .projectdiv{
        margin-top: calc(40px + 2vw);
    }
}