
.aboutdiv{
    padding-top: calc(10px + 10vw);
    margin-left: calc(1px + 5vw);
    /* border: 1px solid black; */
}

.abouttittle{
    font-weight: bolder;
 
    font-size: calc(15px + 1vw);
    margin-bottom: calc(5px + 2vw);
    background: linear-gradient(to bottom,rgb(223, 4, 212) 20%,rgb(85, 18, 85));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: default;
    
}

.aboutsection{
    display: flex;
}

.aboutleft{
    flex: 1;
    /* border: 1px solid black; */
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end; */
   
}


.aboutright{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: calc(10px + 2vw);
    /* border: 1px solid black; */
    /* min-height: calc(50px + 20vw); */
}
.aboutleft>div{
margin-bottom: calc(3px + 1vw);
font-family: Tahoma, sans-serif;
font-size: calc(12px + 0.4vw);
margin-left: calc(15px + 2vw);
}
.container{
    width: calc(20px + 10vw);
    height: calc(20px + 10vw);
    position: relative;
    perspective: 1000px;
    transform-style: preserve-3d;
    transform: rotateX(-10deg) rotateZ(-10deg);
    animation: ror 20s linear infinite;
    background: transparent;
}

@keyframes ror {
    50%{
        transform: rotateX(30deg);
    }
    80%{
        transform: rotateX(-30deg);
    }
}

.images{
    width: 100%;
    position: absolute;
    transform-style: preserve-3d;
    animation: rotate 15s linear infinite;
}

@keyframes rotate {
      from{
           
      }
      to{
        transform: rotateY(360deg);
      }
}
.images>img:nth-child(1){
    transform: rotateY(60deg) translatez(calc(15px + 10vw));
}
.images>img:nth-child(2){
    transform: rotateY(120deg) translatez(calc(15px + 8vw));
    width: calc(30px + 17vw);
    height: calc(15px + 17vw);
   
}
.images>img:nth-child(3){
    transform: rotateY(180deg) translatez(calc(15px + 9vw));
    height: calc(15px + 17vw);
    width: calc(25px + 12vw);
}
.images>img:nth-child(4){
    transform: rotateY(240deg) translatez(calc(15px + 11vw));
}
.images>img:nth-child(5){
    transform: rotateY(300deg) translatez(calc(15px + 11vw));
    height: calc(15px + 17vw);
    width: calc(25px + 12vw);
}
.images>img:nth-child(6){
    transform: rotateY(360deg) translatez(calc(15px + 11vw));
    width: calc(25px + 10vw);
    height: calc(25px + 10vw);
}

.images>img{
    width: calc(30px + 13vw);
    height: calc(30px + 13vw);
    position: absolute;
    background: transparent;
    cursor: pointer;

}


.aboutrightblur{
    background: rgb(255, 254, 253);
      width: calc(15rem + 15vw);
      height: calc(7rem + 16vw);

}

@media screen and (width<=800px) {
    .abouttittle{
       text-align: center;
    }
    .aboutleft>div{
        margin-left: 0;
    }

    .aboutsection{
         flex-direction: column-reverse;
    }
    
    .container{
        margin: 40px 0 40px 0;
    }
}