.skillmain{
    /* border: 1px solid black; */
    height: calc(70vh + 10vw);
    margin-top: calc(10px + 2vw);
}


.skilldiv {
    display: flex;
    margin-top: calc(10px + 5vw);

}

.skill-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: calc(20px + 4vw);
    
    position: relative;


}

.skill-left {
    flex: 1;
/* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    /* margin-top: calc(10px + 4vw); */
    height: calc(60vh + 10vw);
    margin: 0 -20px 0 -20px;
}

.skilltittle {
    font-weight: bold;
    margin: calc(10px + 5vw) 0 calc(-30px - 1vw) 0;
    font-size: calc(15px + 1vw);
    background: linear-gradient(to bottom, rgb(223, 4, 4) 20%, rgb(85, 18, 18));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: default;
    text-shadow: 1px 2px 2px rgb(255, 1, 1);
    /* border: 1px solid black; */
    text-align: center;
}

.skillimage {
    position: absolute;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    max-width: 800px;
background: transparent;
}

.skillimage>img {
    background: transparent;
    padding: calc(4px + 0.6vw);
    max-width: calc(40px + 1vw);
    border-radius: calc(5px + 1vw);
    box-shadow: inset 0 0 calc(10px + 1vw) rgb(251, 161, 239);
}

.skill-maincircle {
    /* border: 1px solid black; */
    margin-top: calc(10px + 4vw);
    display: flex;
    position: relative;
    height: calc(180px + 10vw);
    transform-style: preserve-3d;
    animation: skillrotate 15s linear infinite;
    justify-content: center;
    width: calc(180px + 10vw);
    background: transparent;
    border-radius: 50%;
    box-shadow: 0 0 calc(4px + 1vw) rgb(152, 152, 152);
}

.skill-seccircle{
    /* border: 1px solid black; */
    width: max-content;
    
}
.skill-seccircle>img {
    padding: calc(1px + 0.5vw);
    width:55px;
    height:55px;
    border-radius: 50%;
    box-shadow: 0 0 calc(4px + 1vw) rgb(152, 152, 152);
    position: absolute;
    transform-style: preserve-3d;
    animation: skillrotate 15s linear infinite;
   

}


@keyframes skillrotate {
    from {}

    to {
        transform: rotatez(360deg);
    }
}

.skill-seccircle:nth-child(1) {
   /* border: 1px solid black; */
    transform: rotatez(30deg) ;
}

.skill-seccircle:nth-child(2) {
   
    transform: rotatez(60deg) ;
}

.skill-seccircle:nth-child(3) {
   
    transform: rotatez(90deg) ;
}

.skill-seccircle:nth-child(4) {
   
    transform: rotatez(120deg) ;
}

.skill-seccircle:nth-child(5) {
   
    transform: rotatez(150deg) ;
}

.skill-seccircle:nth-child(6) {
   
    transform: rotatez(180deg) ;
}

.skill-seccircle:nth-child(7) {
   
    transform: rotatez(210deg) ;
}

.skill-seccircle:nth-child(8) {
   
    transform: rotatez(240deg) ;
}

.skill-seccircle:nth-child(9) {
   
    transform: rotatez(270deg) ;
}

.skill-seccircle:nth-child(10) {
   
    transform: rotatez(300deg) ;
}

.skill-seccircle:nth-child(11) {
   
    transform: rotatez(330deg) ;
}

.skill-seccircle:nth-child(12) {
   
    transform: rotatez(360deg) ;
}


.skill-left>img{
    width:55px;
    height:55px;
    border-radius: 50%;
    box-shadow: 0 0 calc(4px + 1vw) rgb(152, 152, 152);
    left: -50px;
   
}


.skillleftblur{

    background: rgb(253, 209, 252);
     margin-top: calc(10px + 2vw);
      width: 18rem;
      height: calc(20rem + 1vw);

}
.skillrightblur{

    background: rgb(253, 209, 252);
      height: calc(10rem + 5vw);
      width: calc(20rem + 13vw);

}


@media screen and (width<=800px) {

    .skilldiv {
        flex-direction: column;
    }
    

}