*{
  margin: 0;
  padding: 0;
 
  font-size: calc(10px + 0.5vw);
  font-family: Georgia, 'Times New Roman', Times, serif;
}
*::-webkit-scrollbar{
  width: 8px;
}

*::-webkit-scrollbar-track{
 background: #fcc4ff;
}
*::-webkit-scrollbar-thumb{
  background: #f485fc;
  border-radius: 10px;
 }
 *::-webkit-scrollbar-thumb:hover{
  background: #ee04ff;

 }
 .App{
  padding: 0 20px 0 20px;
  background-color: rgba(255, 237, 255, 0.7);
 }

.button{
  box-shadow: 0 0 7px rgb(203, 3, 3);
  border: none;
  font-weight: bold;
  color: rgb(226, 226, 227);
  padding: 5px 10px 5px 10px;
  border-radius: 35px;
  font-size: calc(10px + 0.5vw);
  background: linear-gradient(to bottom,rgb(232, 36, 36) 20%,rgb(107, 43, 43));
}

.button:hover{
  cursor: pointer;
  transform: scale(1.1);
  transition: all 300ms; 
 
}

.blur{
  position: absolute;
  width: calc(12rem + 1vw);
  height: calc(15rem + 1vw);
  border-radius: 50%;
  background: #edd0ff;
  filter: blur(calc(10px + 2vw));

}

